{% extends "event/base.html" %}
{% load static %}

{% block title %}
    {{ event.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if event.image %}{{ event.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">

        <h1>{{ event.name }}</h1>
        <h2>{{ event.get_category_display }}</h2>
        <p>{{ event.start_date }}</p>
        <p>{{ event.end_date }}</p>
        <p>{{ event.start_time }}</p>
        <p>{{ event.end_time }}</p>
        <p class = "price">Adult ticket price: {{ event.adult_price }}</p>
        <p class= "price">Child ticket Price: {{ event.child_price }}</p>

        {{ event.description|linebreaks }}

        {% if event.register %}
            <a href="{% url "register:register_create" event.id %}" class="button">Register</a>
        {% else %}
        `   <p> Registration is not currently available</p>
        {% endif %}
        <a href='/event/userview' class="button"> Go Back</a>

    </div>
{% endblock %}

        
        
        
