{% extends 'user/base.html' %}


{% block content %}

<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="UserForm" method='post' class="form" role="form" action ='' method ='POST'>
              <div class="modal-header">
                <h4 class="modal-title">Delete User</h4>
                <button onclick="self.close()" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                    <h1> Do you want to delete the user with email: "{{object.email}}"? </h1>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="DELETE" style="margin-bottom: 5px;" />
                <a href='/user/'> Cancel</a>
              </div>s
        </form>
        <script>
            jQuery('.modal-content .calendar').datepicker({ dateFormat: "yy-mm-dd" });

                var form_options = {
                    target: '#modal',
                    success: function() {  }
                }
                $('#UserForm').ajaxForm(form_options);
        </script>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<!--<form action ='' method ='POST'>-->
<!--    {% csrf_token%}-->
<!--    <h1> Do you want to delete the user with email: "{{object.email}}"? </h1>-->
<!--    <input type="submit" value="Yes" /> <a href='../'> Cancel</a>-->
<!--</form>-->
{% endblock %}





<!--{% load widget_tweaks %}-->

<!--<form method="post" action="">-->
<!--  {% csrf_token %}-->

<!--  <div class="modal-header">-->
<!--    <h3 class="modal-title">Delete Book</h3>-->
<!--    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->

<!--  <div class="modal-body">-->
<!--    <p class="delete-text">Are you sure you want to delete user with email-->
<!--      <strong>{{ user.email }}</strong>?</p>-->
<!--  </div>-->

<!--  <div class="modal-footer">-->
<!--    <button type="submit" class="delete-btn btn btn-danger">Delete</button>-->
<!--  </div>-->

<!--</form>-->






