{% extends 'user/base.html' %}
{% load static %}


{% block extra_js%}
    <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
{% comment %} <link rel="stylesheet"  href="{% static "/css/user.css" %}" > {% endcomment %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2>User Management</h2>
<a href="/user/create" id="button1" class="btn btn-light">Add User</a>
          </div>

<table class="table table-striped">
  <thead class="thead-dark">

    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col"> Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% comment %} REAL PROJECt {% endcomment %}
    {% for u in users %}
    <tr>
    <td> {{u.first_name}} </td>
    <td>{{u.last_name}}</td>
    <td>{{u.email}}</td>
    <td>{{u.get_role_display}}</td>
    <td> <a href="update/{{u.id}}">Edit/{{u.id}} </a>  </td>
    {% if user.id != u.id%}
      <td> <a href="delete/{{u.id}}">delete/{{u.id}} </a>  </td>
    {% endif %}
    {% endfor %}

    </tr>
  </tbody>
</table>
<!--  Modal-->
<!-- Adding User-->
 
{% comment %} <script src="{% static 'js/user.js' %}"></script> {% endcomment %}

{% endblock %}

{% block extrascripts %}

{% endblock extrascripts %}
